canvas {
  border-radius: 12px;
}

button {
  display: block;
  height: 60px;
  width: 186px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  background-image: linear-gradient(to right, green, blue);
  background-position: right bottom;
  background-size: 200%;
  font-family: "Courier New", Courier, monospace;
  border: none;
  transition: 0.4s;
}

button:hover {
  background-position: left bottom;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  background-image: linear-gradient(to left, red, purple);
}

/* The container and background */
.toggle {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 30px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bc2612;
  border: 1px solid #aaa;
  border-radius: 30px;
  transition: all 0.4s;
}

/* The sliding button */
.slider:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 2px;
  top: 2px;
  background-color: #eee;
  border-radius: 24px;
  transition: all 0.4s;
}

/* On checked */
input:checked + .slider {
  background-color: #8cbc13;
}
input:checked + .slider:before {
  transform: translateX(37px);
}
